<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.shadow578.tenshicontent">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TenshiContent">

        <!-- testing activity -->
        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 4anime -->
        <service
            android:name=".fouranime.FourAnimeAdapterService"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.shadow578.tenshi.content.ADAPTER" />
                <category android:name="io.github.shadow578.tenshi.content.ADAPTER" />
            </intent-filter>

            <meta-data
                android:name="io.github.shadow578.tenshi.content.DISPLAY_NAME"
                android:value="@string/fouranime_display_name" />
            <meta-data
                android:name="io.github.shadow578.tenshi.content.ADAPTER_VERSION"
                android:value="1" />
            <meta-data
                android:name="io.github.shadow578.tenshi.content.UNIQUE_NAME"
                android:value="io.github.shadow578.tenshicontent.fouranime.webview" />
        </service>
        <activity
            android:name=".fouranime.FourAnimeAdapterActivity"
            android:label="@string/fouranime_display_name" />

        <!-- animixplay -->
        <service
            android:name=".animixplay.AniMixPlayAdapterService"
            android:exported="true">
            <intent-filter>
                <action android:name="io.github.shadow578.tenshi.content.ADAPTER" />
                <category android:name="io.github.shadow578.tenshi.content.ADAPTER" />
            </intent-filter>

            <meta-data
                android:name="io.github.shadow578.tenshi.content.DISPLAY_NAME"
                android:value="@string/animixplay_display_name" />
            <meta-data
                android:name="io.github.shadow578.tenshi.content.ADAPTER_VERSION"
                android:value="1" />
            <meta-data
                android:name="io.github.shadow578.tenshi.content.UNIQUE_NAME"
                android:value="io.github.shadow578.tenshicontent.animixplay.webview" />
        </service>
        <activity
            android:name=".animixplay.AniMixPlayAdapterActivity"
            android:label="@string/animixplay_display_name" />
    </application>
</manifest>